name: Run Tests

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Check out code
        uses: actions/checkout@v3

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test -race ./...
